*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/BroPalsAdventureJam2016/nbproject/private/


/build/
/bin/
/.gradle/
/.nb-gradle/private/
/BroPalsAdventureJam2016/build/
/BroPalsAdventureJam2016/dist/